out/
broadcast/
cache/
logs/
lcov.info
*foundryScriptOutput.json

abi/*
!abi/LightClient.json
!abi/LightClientMock.json
!abi/SourceAMB.json
!abi/TargetAMB.json
!abi/DrillLightClient.json
!abi/DrillTelepathyRouter.json
!abi/Guardian.json
!abi/Timelock.json
!abi/TelepathyRouter.json
!abi/TelepathyPubSub.json
!abi/TelepathyPublisher.json
!abi/TelepathySubscriber.json
!abi/TelepathyValidator.json
!abi/EigenLayerBeaconOracle.json
!abi/EigenLayerBeaconOracleProxy.json